In [2]:
import pymongo

In [3]:
client=pymongo.MongoClient("mongodb+srv://subhasishduttashuvo2018:shuvo634@cluster0.uwil4if.mongodb.net/?retryWrites=true&w=majority")

In [21]:
# ASSIGNMENT -7
# 1.Write a MongoDB query to find all students excluding _id and LastName Field

cursor = db.Student.find({}, { "_id": 0, "LastName": 0 })

for document in cursor:
    print(document)

{'RollNum': 43, 'FirstName': 'John', 'Age': 20, 'Department': 'Computer Science', 'Mark': 78}
{'RollNum': 67, 'FirstName': 'Alice', 'Age': 22, 'Department': 'Physics', 'Mark': 59}
{'RollNum': 23, 'FirstName': 'Bob', 'Age': 21, 'Department': 'Computer Science', 'Mark': 81}
{'RollNum': 18, 'FirstName': 'Eve', 'Age': 19, 'Department': 'Mathematics', 'Mark': 56}
{'RollNum': 84, 'FirstName': 'Mike', 'Age': 23, 'Department': 'Physics', 'Mark': 92}
{'RollNum': 43, 'FirstName': 'John', 'Age': 20, 'Department': 'Computer Science', 'Mark': 78}
{'RollNum': 67, 'FirstName': 'Alice', 'Age': 22, 'Department': 'Physics', 'Mark': 59}
{'RollNum': 23, 'FirstName': 'Bob', 'Age': 21, 'Department': 'Computer Science', 'Mark': 81}
{'RollNum': 18, 'FirstName': 'Eve', 'Age': 19, 'Department': 'Mathematics', 'Mark': 56}
{'RollNum': 84, 'FirstName': 'Mike', 'Age': 23, 'Department': 'Physics', 'Mark': 92}
{'RollNum': 43, 'FirstName': 'John', 'Age': 20, 'Department': 'Computer Science', 'Mark': 78}
{'RollNum': 67, 'FirstName': 'Alice', 'Age': 22, 'Department': 'Physics', 'Mark': 59}
{'RollNum': 23, 'FirstName': 'Bob', 'Age': 21, 'Department': 'Computer Science', 'Mark': 81}
{'RollNum': 18, 'FirstName': 'Eve', 'Age': 19, 'Department': 'Mathematics', 'Mark': 56}
{'RollNum': 84, 'FirstName': 'Mike', 'Age': 23, 'Department': 'Physics', 'Mark': 92}

In [22]:
# ASSIGNMENT -7
#2. Update the student's age with Rollnum 67 to 26 years.

db.Student.update_one(
    { "RollNum": 67 },
    { "$set": { "Age": 26 } }
)

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff00000000000001a6'), 'opTime': {'ts': Timestamp(1700285204, 11), 't': 422}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1700285204, 11), 'signature': {'hash': b']\xf9\x07|{\xa7 kzS\r\x070c\x13\xf1y1#\xbf', 'keyId': 7252368612227284995}}, 'operationTime': Timestamp(1700285204, 11), 'updatedExisting': True}, acknowledged=True)

In [23]:
# ASSIGNMENT -7
# 3. Increase the Age of all students by 1
db.Student.update_many(
    {},
    { "$inc": { "Age": 1 } }
)

UpdateResult({'n': 15, 'electionId': ObjectId('7fffffff00000000000001a6'), 'opTime': {'ts': Timestamp(1700285291, 19), 't': 422}, 'nModified': 15, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1700285291, 20), 'signature': {'hash': b' \x9cy\xa7\x10\xa7\r`\x1d\xf8\xf2=\x96\xad\x86<\xe2.\xb0\x9b', 'keyId': 7252368612227284995}}, 'operationTime': Timestamp(1700285291, 19), 'updatedExisting': True}, acknowledged=True)

In [24]:
# ASSIGNMENT -7
# 4.Increment 5 Mark for all students in the "Computer Science" department.

db.Student.update_many(
    { "Department": "Computer Science" },
    { "$inc": { "Mark": 5 } }
)

UpdateResult({'n': 6, 'electionId': ObjectId('7fffffff00000000000001a6'), 'opTime': {'ts': Timestamp(1700285381, 24), 't': 422}, 'nModified': 6, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1700285381, 24), 'signature': {'hash': b'\xf4\x9d\xb7\xe5\x923\xbc\xd4\x13\xc0Y\xd0\x88u\x15\xbd\xd6-\x87\x1b', 'keyId': 7252368612227284995}}, 'operationTime': Timestamp(1700285381, 24), 'updatedExisting': True}, acknowledged=True)

In [25]:
# ASSIGNMENT -7
#5.Reduce 10 Marks for all students in the "Mathematics" department.
db.Student.update_many(
    { "Department": "Mathematics" },
    { "$inc": { "Mark": -10 } }
)

UpdateResult({'n': 3, 'electionId': ObjectId('7fffffff00000000000001a6'), 'opTime': {'ts': Timestamp(1700285462, 22), 't': 422}, 'nModified': 3, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1700285462, 22), 'signature': {'hash': b'\x9d\x14\xbc\xb3=\x1c\xc8\x05\x0b\\\x16\x8e\xe1:\xaf\x92$\x81\x8aW', 'keyId': 7252368612227284995}}, 'operationTime': Timestamp(1700285462, 22), 'updatedExisting': True}, acknowledged=True)

In [26]:
# ASSIGNMENT -7
#6.Update the Department name of all students in the "Physics" department to “Physical Science”.

db.Student.update_many(
    { "Department": "Physics" },
    { "$set": { "Department": "Physical Science" } }
)

UpdateResult({'n': 6, 'electionId': ObjectId('7fffffff00000000000001a6'), 'opTime': {'ts': Timestamp(1700285529, 24), 't': 422}, 'nModified': 6, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1700285529, 24), 'signature': {'hash': b'\x1b(\x1b3\xe3\xd7<\xa6U\x94\xa8(u\x19\xecg\x07\x8ea;', 'keyId': 7252368612227284995}}, 'operationTime': Timestamp(1700285529, 24), 'updatedExisting': True}, acknowledged=True)

In [30]:
# ASSIGNMENT -7
# 7.Calculate the average age of all students.
result = db.Student.aggregate([
    {
        "$group": {
            "_id": None,
            "averageAge": { "$avg": "$Age" }
        }
    }
])

# Extract the result
average_age_result = next(result, None)

# Print the average age
if average_age_result:
    print("Average Age of all students:", average_age_result["averageAge"])
else:
    print("No students found.")

Average Age of all students: 22.266666666666666

In [32]:
# ASSIGNMENT -7
#8.Calculate the average Mark of all students in the "Physical Science" department.
result = db.Student.aggregate([
    {
        "$match": { "Department": "Physical Science" }
    },
    {
        "$group": {
            "_id": None,
            "averageMark": { "$avg": "$Mark" }
        }
    }
])

# Extract the result
average_mark_result = next(result, None)

# Print the average mark
if average_mark_result:
    print("Average Mark of students in Physical Science department:", average_mark_result["averageMark"])
else:
    print("No students found in the Physical Science department.")

Average Mark of students in Physical Science department: 75.5

In [33]:
# ASSIGNMENT -7
# 9.Remove all the students of the "Mathematics" department

db.Student.delete_many({ "Department": "Mathematics" })

DeleteResult({'n': 3, 'electionId': ObjectId('7fffffff00000000000001a6'), 'opTime': {'ts': Timestamp(1700285829, 7), 't': 422}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1700285829, 9), 'signature': {'hash': b'!\x0ee\xc9#\x97\x7f.\xf6)\x08\xf8\x01\xee\x9e\x0e\xbd\xfa\xdb\x8c', 'keyId': 7252368612227284995}}, 'operationTime': Timestamp(1700285829, 7)}, acknowledged=True)

In [34]:
# ASSIGNMENT -7
# 10.Remove all the students whose mark is less than 60.
db.Student.delete_many({ "Mark": { "$lt": 60 } })

DeleteResult({'n': 3, 'electionId': ObjectId('7fffffff00000000000001a6'), 'opTime': {'ts': Timestamp(1700285881, 12), 't': 422}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1700285881, 12), 'signature': {'hash': b'B\x8a\x83zY:\xec\x13\x8dF\x875~\xa6\xcaz\x8b:2\xc4', 'keyId': 7252368612227284995}}, 'operationTime': Timestamp(1700285881, 12)}, acknowledged=True)