In [10]:
import pymongo

In [11]:
client=pymongo.MongoClient("mongodb+srv://subhasishduttashuvo2018:shuvo634@cluster0.uwil4if.mongodb.net/?retryWrites=true&w=majority")

In [12]:

db = client.student  # Replace 'school' with your database name

# Define the schema for the "Student" collection
student_schema = {
    "RollNum": int,
    "FirstName": str,
    "LastName": str,
    "Age": int,
    "Department": str,
    "Mark": int
}

# Create the "Student" collection with the defined schema
student_collection = db.Student

# Inserting one document with the specified schema to ensure collection creation
student_collection.insert_one({
    "RollNum": 0,
    "FirstName": "Sample",
    "LastName": "Student",
    "Age": 0,
    "Department": "Sample",
    "Mark": 0
})

# Drop the sample document (optional)
student_collection.delete_one({"RollNum": 0})

# Now the "Student" collection is created with the specified schema
print("Schema for 'Student' collection created.")

Schema for 'Student' collection created.

In [13]:
student_schema = {
    "RollNum": int,
    "FirstName": str,
    "LastName": str,
    "Age": int,
    "Department": str,
    "Mark": int
}

In [14]:
student_data = [
    { "RollNum": 43, "FirstName": "John", "LastName": "Doe", "Age": 20, "Department": "Computer Science", "Mark": 78 },
    { "RollNum": 67, "FirstName": "Alice", "LastName": "Smith", "Age": 22, "Department": "Physics", "Mark": 59 },
    { "RollNum": 23, "FirstName": "Bob", "LastName": "Johnson", "Age": 21, "Department": "Computer Science", "Mark": 81 },
    { "RollNum": 18, "FirstName": "Eve", "LastName": "Adams", "Age": 19, "Department": "Mathematics", "Mark": 56 },
    { "RollNum": 84, "FirstName": "Mike", "LastName": "Brown", "Age": 23, "Department": "Physics", "Mark": 92 }
]

student_collection = db.Student

# Insert data into the "Student" collection
result = student_collection.insert_many(student_data)
print(f"{len(result.inserted_ids)} documents inserted")

5 documents inserted

In [19]:
output=db.Student.find({});
for student in output:
    print(student)

{'_id': ObjectId('6550ac8810f8b8cf38c8a008'), 'RollNum': 43, 'FirstName': 'John', 'LastName': 'Doe', 'Age': 20, 'Department': 'Computer Science', 'Mark': 78}
{'_id': ObjectId('6550ac8810f8b8cf38c8a009'), 'RollNum': 67, 'FirstName': 'Alice', 'LastName': 'Smith', 'Age': 22, 'Department': 'Physics', 'Mark': 59}
{'_id': ObjectId('6550ac8810f8b8cf38c8a00a'), 'RollNum': 23, 'FirstName': 'Bob', 'LastName': 'Johnson', 'Age': 21, 'Department': 'Computer Science', 'Mark': 81}
{'_id': ObjectId('6550ac8810f8b8cf38c8a00b'), 'RollNum': 18, 'FirstName': 'Eve', 'LastName': 'Adams', 'Age': 19, 'Department': 'Mathematics', 'Mark': 56}
{'_id': ObjectId('6550ac8810f8b8cf38c8a00c'), 'RollNum': 84, 'FirstName': 'Mike', 'LastName': 'Brown', 'Age': 23, 'Department': 'Physics', 'Mark': 92}
{'_id': ObjectId('6550ad1c10f8b8cf38c8a00f'), 'RollNum': 43, 'FirstName': 'John', 'LastName': 'Doe', 'Age': 20, 'Department': 'Computer Science', 'Mark': 78}
{'_id': ObjectId('6550ad1c10f8b8cf38c8a010'), 'RollNum': 67, 'FirstName': 'Alice', 'LastName': 'Smith', 'Age': 22, 'Department': 'Physics', 'Mark': 59}
{'_id': ObjectId('6550ad1c10f8b8cf38c8a011'), 'RollNum': 23, 'FirstName': 'Bob', 'LastName': 'Johnson', 'Age': 21, 'Department': 'Computer Science', 'Mark': 81}
{'_id': ObjectId('6550ad1c10f8b8cf38c8a012'), 'RollNum': 18, 'FirstName': 'Eve', 'LastName': 'Adams', 'Age': 19, 'Department': 'Mathematics', 'Mark': 56}
{'_id': ObjectId('6550ad1c10f8b8cf38c8a013'), 'RollNum': 84, 'FirstName': 'Mike', 'LastName': 'Brown', 'Age': 23, 'Department': 'Physics', 'Mark': 92}

In [20]:
output=db.Student.find({ "Department": "Computer Science" });

for student in output:
    print(student)

{'_id': ObjectId('6550ac8810f8b8cf38c8a008'), 'RollNum': 43, 'FirstName': 'John', 'LastName': 'Doe', 'Age': 20, 'Department': 'Computer Science', 'Mark': 78}
{'_id': ObjectId('6550ac8810f8b8cf38c8a00a'), 'RollNum': 23, 'FirstName': 'Bob', 'LastName': 'Johnson', 'Age': 21, 'Department': 'Computer Science', 'Mark': 81}
{'_id': ObjectId('6550ad1c10f8b8cf38c8a00f'), 'RollNum': 43, 'FirstName': 'John', 'LastName': 'Doe', 'Age': 20, 'Department': 'Computer Science', 'Mark': 78}
{'_id': ObjectId('6550ad1c10f8b8cf38c8a011'), 'RollNum': 23, 'FirstName': 'Bob', 'LastName': 'Johnson', 'Age': 21, 'Department': 'Computer Science', 'Mark': 81}

In [18]:
result = db.Student.find({"Age": {"$gte": 20}})

# Print the results
for student in result:
    print(student)

{'_id': ObjectId('6550ac8810f8b8cf38c8a008'), 'RollNum': 43, 'FirstName': 'John', 'LastName': 'Doe', 'Age': 20, 'Department': 'Computer Science', 'Mark': 78}
{'_id': ObjectId('6550ac8810f8b8cf38c8a009'), 'RollNum': 67, 'FirstName': 'Alice', 'LastName': 'Smith', 'Age': 22, 'Department': 'Physics', 'Mark': 59}
{'_id': ObjectId('6550ac8810f8b8cf38c8a00a'), 'RollNum': 23, 'FirstName': 'Bob', 'LastName': 'Johnson', 'Age': 21, 'Department': 'Computer Science', 'Mark': 81}
{'_id': ObjectId('6550ac8810f8b8cf38c8a00c'), 'RollNum': 84, 'FirstName': 'Mike', 'LastName': 'Brown', 'Age': 23, 'Department': 'Physics', 'Mark': 92}
{'_id': ObjectId('6550ad1c10f8b8cf38c8a00f'), 'RollNum': 43, 'FirstName': 'John', 'LastName': 'Doe', 'Age': 20, 'Department': 'Computer Science', 'Mark': 78}
{'_id': ObjectId('6550ad1c10f8b8cf38c8a010'), 'RollNum': 67, 'FirstName': 'Alice', 'LastName': 'Smith', 'Age': 22, 'Department': 'Physics', 'Mark': 59}
{'_id': ObjectId('6550ad1c10f8b8cf38c8a011'), 'RollNum': 23, 'FirstName': 'Bob', 'LastName': 'Johnson', 'Age': 21, 'Department': 'Computer Science', 'Mark': 81}
{'_id': ObjectId('6550ad1c10f8b8cf38c8a013'), 'RollNum': 84, 'FirstName': 'Mike', 'LastName': 'Brown', 'Age': 23, 'Department': 'Physics', 'Mark': 92}

In [24]:

# Find all students whose mark is less than 60
result = db.Student.find({"Mark": {"$lt": 60}})

# Print the results
for student in result:
    print(student)

{'_id': ObjectId('6550ac8810f8b8cf38c8a009'), 'RollNum': 67, 'FirstName': 'Alice', 'LastName': 'Smith', 'Age': 22, 'Department': 'Physics', 'Mark': 59}
{'_id': ObjectId('6550ac8810f8b8cf38c8a00b'), 'RollNum': 18, 'FirstName': 'Eve', 'LastName': 'Adams', 'Age': 19, 'Department': 'Mathematics', 'Mark': 56}
{'_id': ObjectId('6550ad1c10f8b8cf38c8a010'), 'RollNum': 67, 'FirstName': 'Alice', 'LastName': 'Smith', 'Age': 22, 'Department': 'Physics', 'Mark': 59}
{'_id': ObjectId('6550ad1c10f8b8cf38c8a012'), 'RollNum': 18, 'FirstName': 'Eve', 'LastName': 'Adams', 'Age': 19, 'Department': 'Mathematics', 'Mark': 56}

In [25]:
result =db.Student.find({ "Department": "Physics" }, { "FirstName": 1, "Mark": 1, "_id": 0 });
# Print the results
for student in result:
    print(student)

{'FirstName': 'Alice', 'Mark': 59}
{'FirstName': 'Mike', 'Mark': 92}
{'FirstName': 'Alice', 'Mark': 59}
{'FirstName': 'Mike', 'Mark': 92}

In [26]:
result =db.Student.find().sort({ "Mark": -1 });
# Print the results
for student in result:
    print(student)

{'_id': ObjectId('6550ac8810f8b8cf38c8a00c'), 'RollNum': 84, 'FirstName': 'Mike', 'LastName': 'Brown', 'Age': 23, 'Department': 'Physics', 'Mark': 92}
{'_id': ObjectId('6550ad1c10f8b8cf38c8a013'), 'RollNum': 84, 'FirstName': 'Mike', 'LastName': 'Brown', 'Age': 23, 'Department': 'Physics', 'Mark': 92}
{'_id': ObjectId('6550ac8810f8b8cf38c8a00a'), 'RollNum': 23, 'FirstName': 'Bob', 'LastName': 'Johnson', 'Age': 21, 'Department': 'Computer Science', 'Mark': 81}
{'_id': ObjectId('6550ad1c10f8b8cf38c8a011'), 'RollNum': 23, 'FirstName': 'Bob', 'LastName': 'Johnson', 'Age': 21, 'Department': 'Computer Science', 'Mark': 81}
{'_id': ObjectId('6550ac8810f8b8cf38c8a008'), 'RollNum': 43, 'FirstName': 'John', 'LastName': 'Doe', 'Age': 20, 'Department': 'Computer Science', 'Mark': 78}
{'_id': ObjectId('6550ad1c10f8b8cf38c8a00f'), 'RollNum': 43, 'FirstName': 'John', 'LastName': 'Doe', 'Age': 20, 'Department': 'Computer Science', 'Mark': 78}
{'_id': ObjectId('6550ac8810f8b8cf38c8a009'), 'RollNum': 67, 'FirstName': 'Alice', 'LastName': 'Smith', 'Age': 22, 'Department': 'Physics', 'Mark': 59}
{'_id': ObjectId('6550ad1c10f8b8cf38c8a010'), 'RollNum': 67, 'FirstName': 'Alice', 'LastName': 'Smith', 'Age': 22, 'Department': 'Physics', 'Mark': 59}
{'_id': ObjectId('6550ac8810f8b8cf38c8a00b'), 'RollNum': 18, 'FirstName': 'Eve', 'LastName': 'Adams', 'Age': 19, 'Department': 'Mathematics', 'Mark': 56}
{'_id': ObjectId('6550ad1c10f8b8cf38c8a012'), 'RollNum': 18, 'FirstName': 'Eve', 'LastName': 'Adams', 'Age': 19, 'Department': 'Mathematics', 'Mark': 56}

In [29]:
result = db.Student.find({}).sort({ "Age": 1 }).limit(1);


# Print the results
for student in result:
    print(student)

{'_id': ObjectId('6550ac8810f8b8cf38c8a00b'), 'RollNum': 18, 'FirstName': 'Eve', 'LastName': 'Adams', 'Age': 19, 'Department': 'Mathematics', 'Mark': 56}

In [32]:
# Find all students in the "Physics" department whose RollNum is greater than or equal to 70
result = db.Student.find({ "Department": "Physics", "RollNum": { "$gte": 70 } })

# Print the results
for student in result:
    print(student)

{'_id': ObjectId('6550ac8810f8b8cf38c8a00c'), 'RollNum': 84, 'FirstName': 'Mike', 'LastName': 'Brown', 'Age': 23, 'Department': 'Physics', 'Mark': 92}
{'_id': ObjectId('6550ad1c10f8b8cf38c8a013'), 'RollNum': 84, 'FirstName': 'Mike', 'LastName': 'Brown', 'Age': 23, 'Department': 'Physics', 'Mark': 92}

In [46]:
from pymongo import MongoClient
import json

# Connect to MongoDB
client = MongoClient("mongodb+srv://subhasishduttashuvo2018:shuvo634@cluster0.uwil4if.mongodb.net/?retryWrites=true&w=majority")
db = client.your_database  # Replace 'your_database' with your actual database name
collection = db.your_collection  # Replace 'your_collection' with your actual collection name

# Fetch all documents in the collection
documents = collection.find()

# Save documents to a JSON file
with open('data.json', 'w') as file:
    json.dump(list(documents), file)

In [49]:
from reportlab.pdfgen import canvas
from reportlab.lib.pagesizes import letter
import json

# Load JSON data
with open('data.json', 'r') as file:
    data = json.load(file)

# Specify the full path for the PDF file
pdf_filename = r'C:\Users\Digital Outlet\Desktop\New folder (22)\output.pdf'

# Create PDF
pdf = canvas.Canvas(pdf_filename, pagesize=letter)

# Set initial y-coordinate
y = 800

# Iterate through data and add it to PDF
for entry in data:
    pdf.drawString(100, y, str(entry))  # Adjust x and y coordinates as needed
    y -= 12  # Move the y-coordinate up for the next entry
    if y < 50:
        pdf.showPage()  # Start a new page if the y-coordinate goes below 50
        y = 800  # Reset the y-coordinate for the new page

pdf.save()